.blok1 {
    background-color: red;
}

.blok2 {
    background-color: blue;
}

.blok3 {
    background-color: green;
}

.blok4 {
    background-color: yellow;
}
.blok1, .blok2, .blok3, .blok4 {
    color: white;
    font-size: 16px;
    text-align: center;
    line-height: 100px; /* Centrowanie tekstu w pionie */
}