header {
    text-align: center;
    color: white;
    font-size: 32px;
    font-family: Arial, sans-serif;
}

nav {
    display: flex;
    list-style-type: none;
    text-decoration: none;
}

nav a {
    text-decoration: none;
    color: white;
}

nav a:hover {
    color: #ADD8E6;
}

main {
    padding: 20px;
    text-align: left;
    color: #000080;
    font-size: 18px;
}

aside {
    padding: 20px;
    color: #000080;
    font-size: 16px;
}

footer {
    text-align: center;
    color: white;
    font-size: 14px;
}